<footer>
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <li><h5>关于我们</h5></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><h5>技术支持</h5></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><h5>分享合作</h5></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><h5>友情链接</h5></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
        <li><a href="#">XXXX</a></li>
      </ul>
    </div>
  </div>
  <address class="text-center">&copy; 黑龙江大学2017届毕业生 LynneWei </address>
</footer>