<!-- <p>
  <strong>Commenter:</strong>
  <%#= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%#= comment.body %>
</p>

<p>
  <%#= comment.created_at %>
  <%#= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p> -->

<% if comment.id != nil %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= comment.commenter %>
      <div class="pull-right">
        <%= comment.created_at %>
      </div>
    </div>
    <div class="panel-body">
      <%= comment.body %>
    </div>
    <div class="panel-footer">
      <%= comment.id %>
    </div>
  </div>
<% end %>

