<h1>new Articles</h1>
<%= render 'form' %>
<%= link_to 'Back',articles_path %>

<% content_for :title do %>
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :style do %>
<% end %>

<% content_for :javascript do %>
<% end %>
